.wrapper {
  padding: 12px;
  margin: 10px 0px;
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 3px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  font-family: 'Montserrat';
  color: black;
  text-align: left;
}

.container_titlePost {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.container_infoAboutPost {
  font-size: 20px;
  font-weight: 300;
}
